.boton_personalizado{
      text-decoration: none;
      padding: 10px;
      font-weight: 600;
      font-size: 20px;
      color: black;
      background-color: #b1ddf9;
      border-radius: 6px;
      border: 2px solid #0016b0;
}
.boton_personalizado:hover{
      color: #1883ba;
      background-color: #ffffff;
}
    
.boton_poke{
      text-decoration: none;
      padding: 10px;
      font-weight: 600;
      font-size: 20px;
      color: black;
      background-color: #b1ddf9;
      border-radius: 6px;
      border: 2px solid #0016b0;
}

.boton_poke:hover{
      color: #1883ba;
      background-color: #ffffff;
}
.boton_fetch{
      text-decoration: none;
      padding: 10px;
      font-weight: 600;
      font-size: 20px;
      color: black;
      background-color: #b1ddf9  ;
      border-radius: 6px;
      border: 2px solid #0016b0;
}

.boton_fetch:hover{
      color: #1883ba;
      background-color: #ffffff;
}
